@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{margin: 0; padding: 0; font-family:  'Noto Sans KR', '맑은 고딕', sans-serif; color: #333; box-sizing: border-box;}
ul{list-style: none}
ul li{list-style: none;}
a{text-decoration: none;}

/*공통*/
.big_inner_box{margin: 0 auto; width: 1300px;}
.inner_box{margin: 0 auto; width: 1000px; margin-top: 20px;}
.clear{clear: both;}

.name{width: 100%; margin-bottom: 3%;}
.name h2{color: white;}
/*공통 끝*/
#header{width: 100%; height: 100px; position: fixed; z-index: 1000; background-color: transparent; transition: background-color 0.3s ease;}
#header.scrolled{background-color: black;}
.logo{float: left; width: 5%; margin-left: 5%;}
.menu{float: left; width: 65%; height: 60px; text-align: center; margin-top: 2%; margin-left: 10%;}
.start{float: right; width: 15%; height: 100px; background-color: darkblue; text-align: center;}
.start:hover{background-color: #000d6d;}
.start_txt{width: 100%; font-size: 25px; padding-top: 10%;}
.menu ul li{width: 10%; height: 60px; float: left; position: relative;}
.start_txt a{color: white;}
.menu ul li a{color: white; text-decoration: none; height: 100px;}
.menu ul ul{display: none; position: absolute; top: 60px; clear: both; width: 70%; background-color: black; margin-left: 15%;}
.menu ul li:hover > ul{display: block;}
.menu ul ul li{color: white; text-align: center; float: left; width: 100%;}
.menu ul ul li a{line-height: 50px;}

.main{width: 100%; height: 1000px; background-image: url(../img/main.jpg); background-repeat: no-repeat; background-size: cover; margin-bottom: 5%;}

.story{width: 100%; height: 100px; margin-bottom: 5%;}
.story p{color: white; text-align: center;}

.event{width: 100%; margin-bottom: 10%;}
.ev1{width: 100%; height: 700px; background-image: url(../img/event1.jpg); background-repeat: no-repeat; background-size: cover; position: relative; margin-bottom: 7%;}
.ev1-txt{width: 50%; height: 300px; position: absolute; top: 40%; left: 10%;}
.ev1-txt1{width: 100%; height: 50px; margin-bottom: 2%;}
.ev1-txt2{width: 100%; height: 50px; margin-bottom: 4%;}
.ev1-txt2 p{color: white;}
.ev1-txt3{width: 100%; height: 50px;}
.ev1-txt3 p{color: white;}
.ev2{width: 100%; height: 700px; background-image: url(../img/event2.jpg); background-repeat: no-repeat; background-size: cover; position: relative;}
.ev2-txt{width: 80%; height: 300px; position: absolute; top: 30%; text-align: right; left: 17%;}
.ev2-txt1{width: 100%; height: 50px; margin-bottom: 2%;}
.ev2-txt2{width: 100%; height: 50px; margin-bottom: 4%;}
.ev2-txt2 p{color: white;}
.ev2-txt3{width: 100%; height: 50px;}
.ev2-txt3 p{color: white;}

.guide{width: 100%; margin-bottom: 8%;}
.gu{width: 100%; border-radius: 20%;}
.gu1{width: 23.5%; height: 511px; float: left; margin-right: 2%; background-image: url(../img/guide1.jpg); background-repeat: no-repeat; background-size: contain; position: relative; border-radius: 30px;}
.gu1:hover{transform: scale(1.05); transition: transform .5s;}
.gu2{width: 23.5%; height: 511px; float: left; margin-right: 2%; background-image: url(../img/guide2.jpg); background-repeat: no-repeat; background-size: contain; position: relative; border-radius: 30px;}
.gu2:hover{transform: scale(1.05); transition: transform .5s;}
.gu3{width: 23.5%; height: 511px; float: left; margin-right: 2%; background-image: url(../img/guide3.jpg); background-repeat: no-repeat; background-size: contain; position: relative; border-radius: 30px;}
.gu3:hover{transform: scale(1.05); transition: transform .5s;}
.gu4{width: 23.5%; height: 511px; float: right; background-image: url(../img/guide4.jpg); background-repeat: no-repeat; background-size: contain; position: relative; border-radius: 30px;}
.gu4:hover{transform: scale(1.05); transition: transform .5s;}
.gu_txt{width: 100%; height: 150px; position: absolute; top: 300px; left: 70px;}
.gu_txt p{color: white; font-size: 25px;}

.job{width: 100%; margin-bottom: 8%;}
.job1{width: 100%; height: 1200px; background-image: url(../img/job1.png); background-repeat: no-repeat; background-size: contain; position: relative;}
.job1_txt1{width: 30%; height: 100px; position: absolute; top: 600px; left: 280px;}
.job1_txt2{width: 30%; height: 100px; position: absolute; top: 700px; left: 100px;}
.job1_txt1 p{color: white; font-weight: 400; font-size: 40px;}
.job1_txt2 p{color: white; text-align: center; font-size: 25px;}
.job2{width: 100%; height: 1200px; background-image: url(../img/job2.png); background-repeat: no-repeat; background-size: contain; position: relative;}
.job2_txt1{width: 30%; height: 100px; position: absolute; top: 600px; left: 330px;}
.job2_txt2{width: 30%; height: 100px; position: absolute; top: 700px; left: 100px;}
.job2_txt1 p{color: white; font-weight: 400; font-size: 40px;}
.job2_txt2 p{color: white; text-align: center; font-size: 25px;}

.footer{width: 100%; margin-bottom: 8%;}
.m_logo{width: 20%; float: left;}
.footer_txt{width: 80%; float: right; padding-top: 3%;}
.footer_txt1{width: 100%; color: white;}
.footer_txt2{width: 100%; color: lightgray;}
.footer_txt3{width: 100%; color: white;}
.portfolio{
    width: 100%;
    margin-top: 2%;
    margin-left: 17%;
}
.portfolio-site{
    width: 20%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.portfolio-site a{
    color: white;
}
.portfolio-site a:hover{
    color: #00AAFF;
}