@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{margin: 0; padding: 0; font-family:  'Noto Sans KR', '맑은 고딕', sans-serif; color: #333; box-sizing: border-box;}
ul{list-style: none}

/*공통*/
.big_inner_box{margin: 0 auto; width: 1200px;}
.inner_box{margin: 0 auto; width: 1000px; margin-top: 20px;}
.small_inner_box{margin: 0 auto; width: 500px;}
.clear{clear: both;}
a:hover{color: red; text-decoration: underline;}
body{
    background-color: black;
}

#header{width: 100%; height: 100px;}
.logo{float: left; width: 5%; margin-left: 5%;}
.menu{float: left; width: 65%; height: 60px; text-align: center; margin-top: 2%; margin-left: 10%;}
.menu ul li{width: 10%; height: 60px; float: left; position: relative;}
.menu ul li a{color: white; text-decoration: none; height: 100px;}
.menu ul ul{display: none; position: absolute; top: 60px; clear: both; width: 70%; background-color: black; margin-left: 15%;}
.menu ul li:hover > ul{display: block;}
.menu ul ul li{color: white; text-align: center; float: left; width: 100%;}
.menu ul ul li a{color: white;}
.menu ul ul li a{line-height: 50px;}

/*본문영역*/
.main{width: 100%; margin-top: 10%;}
.logint{width: 100%;}
.logint h3{color: white; text-align: center;}
.login{width: 100%; height: 200px; background-color: white; margin-top: 20px; border-radius: 40px;}
.chat{float: left; width: 70%; margin-top: 5%;}
.enter{float: right; width: 30%;}
.enterb{width: 100px; height: 100px; border: 1px solid; border-radius: 10px; margin-top: 30%; border: none; background-color: red;}
.enterb:hover{background-color: #d8080c;}
.enterb p{color: white; font-size: 30px;}
.idb{width: 100%; padding-left: 20%; padding-top: 8%;}
.idb input{border-radius: 5px; border: none; background-color: lightgray; height: 30px; padding-left: 3%;}
.psb{width: 100%; padding-left: 20%; padding-top: 6%;}
.psb input{border-radius: 5px; border: none; background-color: lightgray; height: 30px; padding-left: 3%;}

.another{
    width: 100%;
    height: 20px;
    padding-left: 20%;
}
.kakao{
    width: 20%;
    height: 20px;
}
.facebook{
    width: 20%;
    height: 20px;
}
.google{
    width: 20%;
    height: 20px;
}
.apple{
    width: 20%;
    height: 20px;
}
.another button{
    background-color: transparent;
}