@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0; padding: 0; font-family: 'Noto Sans KR','맑은 고딕', sans-serif; color: #333; box-sizing: border-box;}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/*공통*/
.big_inner_box{
    margin: 0 auto;
    width: 1500px;
}
.inner_box{
    margin: 0 auto;
    width: 1000px;;
    margin-top: 20px;
}
.clear{
    clear: both;
}
.name{
    width: 100%;
}
.name h1{
    text-align: center;
}
button{
    background-color: transparent;
    border: none;
}
/*공통 끝*/

/*헤더*/
.Top{
    width: 100%;
    height: 70px;
}
.logo{
    width: 20%;
    float: left;
    height: 100%;
    margin-left: 5%;
    margin-top: 1%;
}
.menu{
    width: 20%;
    float: right;
    margin-top: 1%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    text-align: end;
}
.menu a:hover{
    color: #00AAFF;
}
.banner{
    width: 100%;
    height: 900px;
    background-image: linear-gradient(to top left, white, #00AAFF);
    border-radius: 60px;
    position: relative;
    margin-bottom: 5%;
}
.main{
    width: 100%;
    height: 900px;
    padding-top: 13%;
}
.mockup{
    float: left;
    width: 40%;
}
.main-txt{
    float: right;
    width: 60%;
    margin-top: 7%;
}
.title-txt{
    text-align: center;
    font-size: 45px;
    margin-bottom: 2%;
}
.main-txt1{
    text-align: center;
}
.main-txt2{
    text-align: center;
    margin-bottom: 3%;
}
.intention{
    width: 100%;
    margin-bottom: 5%;
}
.section-title{
    text-align: center;
    width: 5%;
    border-bottom: 5px solid #00AAFF;
    margin-bottom: 2%;
    margin-left: 48%;
}
.section-title1{
    text-align: center;
    width:15%;
    border-bottom: 5px solid #00AAFF;
    margin-bottom: 2%;
    margin-left: 43%;
}
.intention-txt{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.Brand{
    width: 100%;
    margin-bottom: 5%;
}
.Brand-txt{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.logo-type{
    width: 100%;
    margin-bottom: 5%;
}
.contents{
    width: 100%;
}
.RPG-logo{
    width: 20%;
    float: left;
}
.design-txt{
    width: 60%;
    float: right;
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
}
.font{
    width: 100%;
    margin-bottom: 5%;
}
.font-img{
    width: 100%;
}
.color{
    width: 100%;
    margin-bottom: 5%;
}
.color-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4%;
}
.black{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000000;
}
.red{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #B12222;
}
.blue{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #BCE4FF;
}
.color-txt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.black-txt{
    font-size: 20px;
}
.gray-txt{
    font-size: 20px;
}
.white-txt{
    font-size: 20px;
}
.full-site{
    width: 100%;
}

@media(max-width: 768px){
    .big_inner_box, .inner_box {
        width: 90%; /* 고정 너비 해제 */
        margin-top: 10px;
    }

    .section-title {
        width: 80px; /* 고정값 대신 적절한 너비 */
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }
    /* 메인 배너 영역 */
    .banner {
        height: auto;
        padding-bottom: 50px;
        border-radius: 30px; /* 곡률 완화 */
    }
    .main {
        padding-top: 100px; /* 헤더 공간 확보 */
        height: auto;
    }
    .mockup {
        width: 80%;
        float: none;
        margin: 0 auto 20px;
        display: block;
    }
    .main-txt {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    .title-txt {
        font-size: 28px;
    }
    /*헤더 영역*/
    .menu{
        width: 25%;
        float: right;
        margin-top: 1%;
        margin-right: 2%;
        text-align: end;
        display: flex;
        justify-content: space-around;
    }
    /* 기획의도 및 브랜드 */
    .intention-txt, .Brand-txt, .design-txt {
        font-size: 16px;
        line-height: 1.6;
        word-break: keep-all; /* 한글 줄바꿈 최적화 */
        padding: 0 10px;
    }

    /* 로고타입 영역 */
    .RPG-logo {
        width: 50%;
        float: none;
        margin: 0 auto 20px;
        display: block;
    }
    .design-txt {
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    /* 컬러 박스 */
    .color-box {
        flex-wrap: wrap; /* 박스가 좁으면 아래로 내려감 */
        gap: 10px;
    }
    .black, .red, .blue {
        width: 80px;
        height: 80px;
    }
    .black-txt, .gray-txt, .white-txt {
        font-size: 14px;
    }

    /* 전체 사이트 이미지 */
    .full-site {
        width: 100%;
    }
}