@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{margin: 0; padding: 0; font-family:  'Noto Sans KR', '맑은 고딕', sans-serif; color: #333; box-sizing: border-box;}
ul{list-style: none}

/*공통*/
.big_inner_box{margin: 0 auto; width: 1200px;}
.inner_box{margin: 0 auto; width: 1000px; margin-top: 20px;}
.clear{clear: both;}
a:hover{color: red; text-decoration: underline;}

/*헤더영역*/
.box{width: 100%; height: 105px; background-color: black; position: fixed;}
.header{width: 100%; margin-top: 1%; background-color: black;}
.lan{float: left; width: 30%; text-align: center;}
.lan p{font-size: 13px; color: white;}
.logo{float: left; width: 50%; padding-left: 20%;}
.search{float: right; width: 20%; text-align: right;}
.search_1{float: left; width: 90%; margin-top: 1px;}
.search_1 li{float: right; font-size: 13px; color: white; margin-right: 10%;}
.search_1 li a{color: white; text-decoration: none;}
.search_1 li a:hover{color: red; text-decoration: none;}
.header2{width: 100%; height: 50px;}
.menu{width: 100%; margin-top: 0.5%; display: flex; flex-direction: row; justify-content: center; justify-content: space-around;}
.menu li{margin-bottom: 1%; color: white; font-size: 15px;}
.menu li a{color: #fff; text-decoration: none;}
.menu li a:hover{color: red; text-decoration: none;}
/*본문영역*/
.main img{width: 100%; margin-bottom: 2%; vertical-align: top; margin-top: 4%;}

.con1 img{width: 100%; margin-top: 30%;}
.con1_1{float: left; width: 20%; margin-left: 3%;}
.con1_1:hover{border-radius: 20px; border: 1px solid; border-color: white;}
.con1_1img img{width: 100%;}
.con1_1txt{width: 100%;}
.con1_1 p{text-align: center; font-size: 18px; margin-bottom: 15px; color: white; font-weight: 600;}
.con1_2{float: left; width: 20%; margin-left: 5%;}
.con1_2:hover{border-radius: 20px; border: 1px solid; border-color: white;}
.con1_2img img{width: 100%;}
.con1_2txt{width: 100%;}
.con1_2txt p{text-align: center; font-size: 18px; margin-bottom: 15px; color: white; font-weight: 600;}
.con1_3{float: left; width: 20%; margin-left: 5%;}
.con1_3:hover{border-radius: 20px; border: 1px solid; border-color: white;}
.con1_3img img{width: 100%;}
.con1_3txt{width: 100%;}
.con1_3 p{text-align: center; font-size: 18px; margin-bottom: 15px; color: white; font-weight: 600;}
.con1_4{float: left; width: 20%; margin-left: 5%;}
.con1_4:hover{border-radius: 20px; border: 1px solid; border-color: white;}
.con1_4img img{width: 100%;}
.con1_4txt{width: 100%;}
.con1_4 p{text-align: center; font-size: 18px; margin-bottom: 15px; color: white; font-weight: 600;}

.contitle{width: 100%; margin-top: 8%;}
.contitle h2{font-size: 38px;}
.contitle h2{color: white;}
.con2{width: 100%; margin-top: 5%;}
.con2 p{text-align: center; margin-top: 40px; font-weight: 600; color: white;}
.con2_1{float: left; width: 23.5%; margin-right: 2%; height: 100px; background-color: darkturquoise; border-radius: 20px;}
.con2_1:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
.con2_2{float: left; width: 23.5%; height: 100px; background-color: darkturquoise; border-radius: 20px; margin-right: 2%;}
.con2_2:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
.con2_3{float: left; width: 23.5%; height: 100px; background-color: darkturquoise; border-radius: 20px;}
.con2_3:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
.con2_4{float: right; width: 23.5%; height: 100px; background-color: darkturquoise; border-radius: 20px;}
.con2_4:hover{background: linear-gradient(to bottom right, black, darkturquoise);}

.con3{width: 100%; margin-top: 7%; margin-bottom: 7%;}

.con5{width: 100%; margin-top: 10%;  height: 574px;}
.con5_1{float: left; width: 50%;}
.con5_1_1{width: 100%; margin-top: 17%;}
.con5_1_1 h3{text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 1%; color: white; font-size: 40px;}
.con5_1_1 h3>p{font-size: 40px;}
.con5_1_1 p{text-align: center; color: darkgray; font-size: 18px;}
.con5_1_1_1{width: 100%; float: left; margin-left: 34%; margin-top: 2%; margin-bottom: 10%;}
.con5_1_1_1 li{float: left; text-align: center; margin-right: 2%; color: burlywood; border-bottom: 1px solid;}
.con5_1_1 a{border: 1px solid; padding-bottom: 1%; padding-top: 1%; padding-left: 4%; padding-right: 4%; margin-left: 39%; color: white; text-decoration: none;}
.con5_1_1 a:hover{text-decoration: underline;}
.con5_2 img{float: right; width: 50%;}

.con6{width: 100%; margin-top: 13%; height: 574px;}
.con6_1 img{float: left; width: 50%;}
.con6_2{float: right; width: 50%;}
.con6_2_1{width: 100%; margin-top: 19%;}
.con6_2_1 h3{text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 1%; color: white; font-size: 40px;}
.con6_2_1 h3>p{font-size: 40px;}
.con6_2_1 p{text-align: center; color: darkgrey; font-size: 18px;}
.con6_2_1_1{width: 100%; float: left; padding-left: 38%; margin-top: 2%; margin-bottom: 10%;}
.con6_2_1_1 li{float: left; text-align: center; margin-right: 2%; color: burlywood; border-bottom: 1px solid;}
.con6_2_1 a{border: 1px solid; padding-bottom: 1%; padding-top: 1%; padding-left: 4%; padding-right: 4%; margin-left: 39%; color: white; text-decoration: none;}
.con6_2_1 a:hover{text-decoration: underline;}

.con7{width: 100%; margin-top: 13%; height: 574px;}
.con7_1{float: left; width: 50%;}
.con7_1_1{width: 100%; margin-top: 11%;}
.con7_1_1 h3{text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 1%; color: white; font-size: 40px;}
.con7_1_1 h3>p{font-size: 40px;}
.con7_1_1 p{text-align: center; color: darkgray; font-size: 18px;}
.con7_1_1_1{width: 100%; float: left; margin-left: 35%; margin-top: 2%; margin-bottom: 10%;}
.con7_1_1_1 li{float: left; text-align: center; margin-right: 2%; color: burlywood; border-bottom: 1px solid;}
.con7_1_1 a{border: 1px solid; padding-bottom: 1%; padding-top: 1%; padding-left: 4%; padding-right: 4%; margin-left: 39%; color: white; text-decoration: none;}
.con7_1_1 a:hover{text-decoration: underline;}
.con7_2 img{float: right; width: 50%;}

/*푸터영역*/
.footer1{width: 100%; height: 50px; border-top: 1px solid; margin-top: 13%; border-top-color: lightgray; border-bottom: 1px solid; border-bottom-color: lightgray;}
.footer1_1{float: left; width: 80%; margin-bottom: 1%; padding-top: 1%;}
.footer1_1 p{color: dimgray; letter-spacing: 2px;}
.footer1_2{float: right; width: 20%; margin-bottom: 1%;}
.footer1_2_1{float: left; width: 32.7%;}
.footer1_2_2{float: right; width: 32.7%;}
.footer2{width: 100%; margin-top: 1%; margin-bottom: 1%;}
.footer2 p{text-align: left; margin-top: 1px; color: dimgray;}
.portfolio{
    width: 100%;
    padding-left: 15.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.portfolio-site{
    width: 20%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.portfolio-site a{
    text-decoration: none;
    color: white;
}
.portfolio-site a:hover{
    color: #00AAFF;
}




@media(max-width:560px){
    /*공통*/
    .big_inner_box{margin: 0 auto; width: 470px;}
    .inner_box{margin: 0 auto; width: 400px;}
    /*공통 끝*/
    /*헤더*/
    .box{width: 100%; height: 95px; background-color: black; position: fixed;}
    .header{width: 100%; margin-top: 1%; background-color: black;}
    .lan{float: left; width: 30%; text-align: center;}
    .lan p{font-size: 14px; color: white; font-size: 10px;}
    .logo{float: left; width: 50%; padding-left: 20%;}
    .search{float: right; width: 20%; text-align: right;}
    .search_1{float: left; width: 90%; margin-top: 1px;}
    .search_1 li{float: right;font-size: 14px; color: white; margin-right: 10%; font-size: 10px;}
    .search_1 li a{color: white; text-decoration: none;}
    .search_1 li a:hover{color: red; text-decoration: none;}
    .menu{width: 100%; margin-top: 0.5%; position: fixed; display: flex; flex-direction: row; justify-content: center; justify-content: space-around;}
    .menu li{text-align: center; margin-bottom: 1%; color: white; font-size: 12px;}
    .menu li a{color: #fff; text-decoration: none;}
    .menu li a:hover{color: red; text-decoration: none;}
    /*헤더 끝*/
    /*본문*/
    .contitle{width: 100%; margin-top: 8%;}
    .contitle h2{font-size: 22px; color: white;}
    
    .con1_1{float: left; width: 45%; margin-left: 3%;}
    .con1_2{float: right; width: 45%; margin-left: 5%;}
    .con1_3{float: left; width: 45%; margin-left: 3%;}
    .con1_4{float: right; width: 45%; margin-left: 5%;}
    
    .con2_1{float: left; width: 47.5%; margin-right: 2%; height: 100px; background-color: darkturquoise; border-radius: 20px; margin-bottom: 4%;}
    .con2_1:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
    .con2_2{float: right; width: 47.5%; height: 100px; background-color: darkturquoise; border-radius: 20px; margin-left: 1%; margin-bottom: 4%;}
    .con2_2:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
    .con2_3{float: left; width: 47.5%; height: 100px; background-color: darkturquoise; border-radius: 20px; margin-right: 3%;}
    .con2_3:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
    .con2_4{float: left; width: 47.5%; height: 100px; background-color: darkturquoise; border-radius: 20px;}
    .con2_4:hover{background: linear-gradient(to bottom right, black, darkturquoise);}
    
    .con5{width: 100%; margin-top: 10%;  height: 574px;}
    .con5_1{float: left; width: 100%; margin-bottom: 8%;}
    .con5_1_1{width: 100%; margin-top: 17%;}
    .con5_1_1 h3{text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 1%; color: white; font-size: 40px;}
    .con5_1_1 h3>p{font-size: 40px;}
    .con5_1_1 p{text-align: center; color: darkgray; font-size: 18px;}
    .con5_1_1_1{width: 100%; float: left; margin-left: 34%; margin-top: 2%; margin-bottom: 10%;}
    .con5_1_1_1 li{float: left; text-align: center; margin-right: 2%; color: burlywood; border-bottom: 1px solid;}
    .con5_1_1 a{border: 1px solid; padding-bottom: 1%; padding-top: 1%; padding-left: 4%; padding-right: 4%; margin-left: 39%; color: white; text-decoration: none;}
    .con5_1_1 a:hover{text-decoration: underline;}
    .con5_2 img{float: right; width: 100%; margin-bottom: 10%;}
    
    .con6{width: 100%; margin-top: 13%; height: 574px;}
    .con6_1 img{float: left; width: 100%;}
    .con6_2{float: right; width: 100%;}
    .con6_2_1{width: 100%; margin-top: 19%;}
    .con6_2_1 h3{text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 1%; color: white; font-size: 40px;}
    .con6_2_1 h3>p{font-size: 40px;}
    .con6_2_1 p{text-align: center; color: darkgrey; font-size: 18px;}
    .con6_2_1_1{width: 100%; float: left; padding-left: 38%; margin-top: 2%; margin-bottom: 10%;}
    .con6_2_1_1 li{float: left; text-align: center; margin-right: 2%; color: burlywood; border-bottom: 1px solid;}
    .con6_2_1 a{border: 1px solid; padding-bottom: 1%; padding-top: 1%; padding-left: 4%; padding-right: 4%; margin-left: 39%; color: white; text-decoration: none;}
    .con6_2_1 a:hover{text-decoration: underline;}

    .con7{width: 100%; margin-top: 13%; height: 574px;}
    .con7_1{float: left; width: 100%;}
    .con7_1_1{width: 100%; margin-top: 11%;}
    .con7_1_1 h3{text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 1%; color: white; font-size: 40px;}
    .con7_1_1 h3>p{font-size: 40px;}
    .con7_1_1 p{text-align: center; color: darkgray; font-size: 18px;}
    .con7_1_1_1{width: 100%; float: left; margin-left: 35%; margin-top: 2%; margin-bottom: 10%;}
    .con7_1_1_1 li{float: left; text-align: center; margin-right: 2%; color: burlywood; border-bottom: 1px solid;}
    .con7_1_1 a{border: 1px solid; padding-bottom: 1%; padding-top: 1%; padding-left: 4%; padding-right: 4%; margin-left: 39%; color: white; text-decoration: none;}
    .con7_1_1 a:hover{text-decoration: underline;}
    .con7_2 img{float: right; width: 100%;}
    /*본문 끝*/
    /*푸터*/
    .footer1{width: 100%; height: 50px; border-top: none; margin-top: 13%; border-top-color: lightgray; border-bottom: none; border-bottom-color: lightgray;}    
    .footer1_1{float: left; width: 100%; margin-bottom: 1%; padding-top: 1%;}
    .footer1_1 p{color: dimgray; letter-spacing: 2px; font-size: 10px;}
    .footer1_2{display: none;}
    .footer1_2_1{float: left; width: 32.7%;}
    .footer1_2_2{float: right; width: 32.7%;}
    .footer2{width: 100%; margin-top: 1%; margin-bottom: 1%;}
    .footer2 p{text-align: left; margin-top: 1px; color: dimgray; font-size: 10px;}
}

@media(min-width:561px)and(max-width:960px){
    
}

@media(min-width:961px){
    
}